:root {
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* Fonts Color */
  --fg: #3a3a3a; /* Foreground color */
  --sfg: #494949; /* Sceondary Foreground color */

  /* Light Colors  */
  --accent: #57a0d9; /* Hover color */
  --background: #f5f5f5; /* Background color */
  --lines: #e4e6e6; /* Lines color */

  --themeIcon: url(assets/moon.png); /* Icon */
}

:root::-webkit-scrollbar {
  display: none;
}

.dark-mode {
  /* Fonts Color */
  --fg: #d8dee9; /* Foreground color */
  --sfg: #a3a3a3; /* Secondary Foreground color */

  /* Dark Colors  */
  --accent: #57a0d9; /* Hover color */
  --background: #19171a; /* Background color */
  --lines: #494949; /* Lines color */

  --themeIcon: url(assets/sun.png); /* Icon */
}

/* Light mode styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background);
  color: var(--sfg);
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

.header {
  display: flex;
  align-items: center;
  justify-content: right;
}

.header-button {
  width: 24px;
  height: 24px;
  margin: 2em 2em 0 0;
  background: transparent;
  color: var(--fg);
  border: none;
  cursor: pointer;
}

.theme-toggle {
  background: var(--themeIcon) no-repeat;
  background-size: contain;
  filter: grayscale(100%);
}

.content-toggle {
  display: none;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  transition: background-color 0.3s, color 0.3s;
}

.content-container {
  display: none;
  width: 100%;
  height: calc(100vh - 80px);
  margin-bottom: 40px;
}

.content-container .content-frame {
  width: inherit;
  height: inherit;
}

.content-frame .feed-item {
  border-bottom: 1px solid var(--lines);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.feed-item h3 {
  text-decoration: none;
  color: var(--fg);
}

.feed-item p {
  color: var(--sfg);
}

.feed-item a:hover {
  text-decoration: underline;
  color: var(--accent);
}
